#-*- mode: apache -*-
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Removes index.php from URLs
    RewriteEngine on
    RewriteCond $1 !^ (index\.php|images|robots\.txt)
    RewriteRule ^ (.*)$ /index.php/$1 [L]
</IfModule>
